@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

/* custom colors  */
body,
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* background-color: #f1f5fb; */
}


:root {
  --bgcolor: #f1f5fb;
  --primary-color: #0a8a10;
  --text-color: #545454;
  --fancy-color: #f48209;
}

.container{
  width: 90%;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

h1,
h2,

h4,
h5,
h6 {
  color: #064909;
}
h3{
  color: var(--fancy-color);
}
p{
  color: rgba(0,0,0,.9);
}

/* --------------------------------- responsive media queries  
                        -------------------------------------------------------*/
@media (min-width: 1500px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1500px !important;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1400px;
  }
}
