
.aboutus-section {
  background-color: var(--bgcolor);
  margin-top: 5rem;
  padding-bottom: 1rem;
}
.aboutus-container {
  width: 90%;
}
.aboutus-section .title {
  color: var(--primary-color);
}
.aboutus-section .heading {
  color: var(--fancy-color);
}

.aboutus-section .description {
  color: var(--text-color);
  font-size: 15px;
}

/* 2nd section of about us  */
.aboutus-section-rightside-img {
  text-align: center;
  justify-content: center;
  display: flex;
}

.aboutus-section img {
  width: 100%;
  height: 400px;
}
