.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header-title{
  background-color: transparent;
}
.page-header-text{
  background-color: transparent;
  font-size: 50px;
  color: white;
}