
.header-section{
  margin-bottom: 0px;
  /* background-color: linear-gradient(to left,#42275a, #734b6d);
  background-image: url("../assets/bgimage.jpeg"); */
}

.header-container {
  width: 90%;
  background-color: var(--primary-color);
}

.header-container h1 {
  text-transform: capitalize;
  font-weight: bolder;
}

.main-hero-para {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 3rem 0 5rem 0;
  font-weight: lighter;
  width: 75%;
}

.header-container h3 {
  font-weight: lighter;
}

.two-btn {
  margin-top: 400px;
}

.two-btn button {
  position: relative;
  justify-content: space-between;
  margin-inline-start: 1rem;
  border-radius: 5px;
}

/* right side of hero section  */


.form-row{
  line-height: 3rem;
}
@media (min-width: 992px){
  .form-row{
    width: 80%;
    margin-top: 12rem;
    margin-left: 100px;
    margin-right: 10px;
  }
}
@media (max-width: 992px){
  .form-row{
    margin-top: 6rem;
    margin-left: 0px;
    margin-right: 0px;  
  }
}

.form-rows,
.form-label,
.form-control,
.form-select{
background-color: var(--bgcolor);
}
.bg-body{
  background-color: var(--bgcolor);
}
.form-label{
  font-size: 16px;
}
.form-control{
  line-height: 3.0;
}
.form-select{
  line-height: 3.1;
}

.btn-style2{
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
}
.btn-style2:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}
.btn-style3{
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
}
.btn-style3:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

