.HeadImage{
  width: 100%;
  height: 750px;
}
.NavbarMainDiv{
  position:absolute;
  width: 100%;
  background: transparent;
}
.nav {
  height: 50px;
  width: 100%;
  position: relative;
  background: transparent;
}

.nav > .nav-header {
  display: inline;
  background: transparent;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  background: transparent;
  font-size: 22px;
  color: black;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
  background: transparent;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
  background: transparent;
}

.nav > .nav-links > .CustomLink {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
  background: transparent;
}

.nav-links{
  margin-left: auto;
  margin-right: auto;
}

.nav > .nav-links > .CustomLink:hover {
  background: transparent;
}

.nav > #nav-check {
  display: none;
  background: transparent;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
    background: transparent;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
    background: transparent;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background: transparent;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid black;
    background: transparent;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > .CustomLink {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}