
.navbar .container {
  width: 90%;
}

.navbar-bg {
  background-color: var(--bgcolor);
  z-index: 99;
  position: relative;
}
.navbar{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-brand {
  font-size: 2.5rem;
}
/* .navbar-nav{
  margin-left: auto;
  margin-right: auto;
} */

.navbar li {
  padding: 0 1rem;
}

.navbar li a {
  font-size: 1.7rem;
  font-weight: lighter;
  position: relative;
}

.navbar li a:hover {
  color: var(--primary-color) !important;
  text-shadow: 0 0.2rem 0.3rem rgba(183, 171, 255, 0.5);
}

.btn-style {
  width: 12rem;
  height: 4rem;
  border-radius: 2rem;
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
  font-size: 1.6rem;
}

.btn-style:first-child {
  margin-right: 2rem;
}

.btn-style:hover {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border {
  border: 0.1rem solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color);
  box-shadow: 0 0.2rem 0.5rem rgba(183, 171, 255, 0.5);
}

.btn-style-border:hover {
  color: #fff;
  background-color: var(--primary-color);
  text-transform: capitalize;
}

/* .HeadImage{
  width: 100%;
  height: 750px;
}
@media screen and (max-width: 800px){
  .HeadImage{
    width: 100%;
    height: 300px;
  }
} */
/* --------------------------------- Navbar ends  
                                                  -------------------------------------------------------*/
