
.numbers-section {
  margin-top: 10rem;
  
}

.numbers-section .row {
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.number-title{
  font-size: 30px;
  font-weight: bolder;
  color: var(--fancy-color);
}
.number-heading {
  font-size: 14px;
}
